H1 {color: rgb(50,50,50);
	/*border: 2px solid black;*/
	margin: 20px auto 20px auto;
	width: 200px;
	/*padding: 20%*/
	text-align: center;
	marg

}

div table tr td {width: 100px; 
				height: 100px
				/*margin: 0px;*/
				/*border: 2px solid red;*/
			}

table 	{ margin: 0 auto 0 auto;
		/*margin-left: 100px; margin-right: auto;*/ 
}

#sq2 	{border-right: 2px solid black;
		border-left: 2px solid black;
		}

#sq4 	{border-bottom: 2px solid black;
		border-top: 2px solid black; 
		}		

#sq5	{border: 2px solid black;}

#sq6 	{border-bottom: 2px solid black;
		border-top: 2px solid black; 
		}	

#sq8 	{border-right: 2px solid black;
		border-left: 2px solid black;
		}
